<nb-card status="success">
    <nb-card-header>Add Vacancy</nb-card-header>
    <nb-card-body>
      <form #myForm="ngForm" (ngSubmit)="addVacancy(myForm)" role="form">
        <div class="form-group row">
          <label for="ID" class="label col-sm-3 col-form-label">Vacancy Id</label>
          <div class="col-sm-9">
            <input type="text" ngModel name="vacancyId" nbInput fullWidth placeholder="0" disabled/>
          </div>
        </div>
        <div class="form-group row">
          <label for="Job Title" class="label col-sm-3 col-form-label">Job Title</label>
          <div class="col-sm-9">
            <input type="text" ngModel name="jobTitle" nbInput fullWidth id="jobTitle" placeholder="Job Title">
          </div>
        </div>
        <div class="form-group row">
          <label for="Project" class="label col-sm-3 col-form-label">Project</label>
          <div class="col-sm-6">
            <nb-select placeholder="Select Project" ngModel name="projectName" [(selected)]="selectedProject">
              <nb-option value="Cv processing">Cv processing</nb-option>
              <nb-option value="Smgr">Smgr</nb-option>
              <nb-option value="Address Book">Address Book</nb-option>
            </nb-select>
          </div>
        </div>
        
        
        <div class="form-group row">
          <label class="col-sm-3 label">Position Open Date</label>
          <div class="col-sm-9">
            <input nbInput ngModel
                  name="posOpenDate"
                   placeholder="Open Date"
                   [nbDatepicker]="formpicker">
                  <nb-datepicker #formpicker></nb-datepicker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 label">Position Close Date</label>
          <div class="col-sm-9">
            <input nbInput ngModel
                  name="posOnBoardDate"
                   placeholder="Close Date"
                   [nbDatepicker]="formpicker1">
                  <nb-datepicker #formpicker1></nb-datepicker>
          </div>
        </div>
         <div class="form-group row">
          <label for="Job Description" class="label col-sm-3 col-form-label">Select Technology</label>
          <div class="col-sm-6">
             <nb-select placeholder="Select Technology" [(selected)]="selectedItem"  >
              <nb-option *ngFor="let d of technology" (click)="onSelectTechnology()" value="{{d.technologyId}}">{{d.technologyName}}</nb-option>
            </nb-select>  
          </div>
         </div>

         <div class="form-group row">
          <label for="Job Description" class="label col-sm-3 col-form-label">Job Description</label>
          <div class="col-sm-9">
             <nb-select ngModel name="jd" placeholder="Select Technology"  multiple >
              <nb-option *ngFor="let d of subtechnology" value="{{d.subTechnologyName}}">{{d.subTechnologyName}}</nb-option>
            </nb-select>  
          </div>
         </div>

         <div class="form-group row">
          <label for="number of Vacancy" class="label col-sm-3 col-form-label">Number of Vacancy</label>
          <div class="col-sm-6">
            <input type="number" ngModel name="noOfVacancy" nbInput id="numberOfVacancy" placeholder="0">
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" nbButton status="primary">Sign in</button>
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>By Wikipedia</nb-card-footer>
  </nb-card>
  
  <nb-card status="danger">
    <nb-card-header>Nebula</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>By Wikipedia</nb-card-footer>
  </nb-card>
