<div class="col-md-12">
  <nb-card status="success">
    <nb-card-header>Edit Profile</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="row">
              <div class="col-md-4">
                <label for="ID" class="label">Vacancy Id</label>
                <input type="text" ngModel name="vacancyId" nbInput  fullWidth  placeholder="0" disabled>
              </div>
              <div class="col-md-4">
                <label for="Job Title" class="label">Job Title</label>
                <input type="text" ngModel name="jobTitle" nbInput fullWidth id="jobTitle" placeholder="Job Title">
              </div>
              <div class="col-md-4">
                <label for="Project" class="label">Project</label>
                <nb-select placeholder="Select Project" fullWidth ngModel name="projectName" [(selected)]="selectedProject">
                  <nb-option value="Cv processing">Cv processing</nb-option>
                  <nb-option value="Smgr">Smgr</nb-option>
                  <nb-option value="Address Book">Address Book</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="Position Open Date" class="label">Position Open Date</label>
                <input nbInput fullWidth ngModel
                       name="posOpenDate"
                       placeholder="Open Date"
                       [nbDatepicker]="formpicker">
                <nb-datepicker #formpicker></nb-datepicker> 
              </div>
              <div class="col-md-6">
                <label for="Position Open Date" class="label">Position Close Date</label>
                <input nbInput fullWidth ngModel
                       name="posOnBoardDate"
                       placeholder="Close Date"
                       [nbDatepicker]="formpicker1">
                <nb-datepicker #formpicker1></nb-datepicker> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="Select Technology" class="label">Select Technology</label>
                <nb-select placeholder="Select Technology" fullWidth [(selected)]="selectedItem"  >
                  <nb-option *ngFor="let d of technology" (click)="onSelectTechnology()" value="{{d.technologyId}}">{{d.technologyName}}</nb-option>
                </nb-select>  
              </div>
              <div class="col-md-6">
                <label for="Sub-Technology" class="label">Select Sub-Technology</label>
                <nb-select ngModel name="jd" fullWidth placeholder="Select Sub-Technology"  multiple >
                  <nb-option *ngFor="let d of subtechnology" value="{{d.subTechnologyName}}">{{d.subTechnologyName}}</nb-option>
                </nb-select>  
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="Short Summary" class="label">Job Short Summary</label>
                <textarea ngModel name="shortSummary" id="shortSummary" nbInput fullWidth placeholder=" Short Summary"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="No of Job Vacancy" class="label">No of Job Vacancy</label>
                <input type="number"  fullWidth  name="noOfVacancy" nbInput id="numberOfVacancy" placeholder="0"> 
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <div class="row action-btn">
                <button type="submit" nbButton status="danger">Create New Vacancy </button>
              </div>
            </div>
          </form>
        </div>
      </div>   
    </nb-card-body>
  </nb-card>
</div>
