<nb-card-header>
  <span class="title">Vacancy</span>
<div>
  <div style="display : block">
    <canvas baseChart
      [datasets]="barChartData"
      [labels] = "barChartLabels"
      [options] = "barChartOptions"
      [legend] = "barChartLegend"
      [chartType] = "barChartType">
      
    </canvas>
  </div>
</div>
</nb-card-header>
<!--<nb-card-header> 
  <i class="ion-social-usd"></i>
  <span class="title">Vacancy</span>
 <div class="chart-display">
    <div style="width : 100%">
  <canvas id="bar"></canvas>
    </div>
</div>
</nb-card-header>
<nb-card-body>-->
  <!--<ngx-stats-bar-animation-chart [linesData]="linesData"></ngx-stats-bar-animation-chart>
  <ngx-charts-bar-vertical-2d 
  [scheme]="lineChartColorScheme" 
  [results]="multi" 
  [gradient]="lineChartGradient" 
  [xAxis]="lineChartShowXAxis" 
  [yAxis]="lineChartShowYAxis" 
  [legend]="lineChartShowLegend" 
  [showXAxisLabel]="lineChartShowXAxisLabel" 
  [showYAxisLabel]="lineChartShowYAxisLabel" 
  [xAxisLabel]="lineChartXAxisLabel" 
  [yAxisLabel]="lineChartYAxisLabel" 
 
  
  
  ></ngx-charts-bar-vertical-2d>
</nb-card-body>

private alive = true;

  linesData: { firstLine: number[]; secondLine: number[] };

  constructor(private profitBarAnimationChartService: ProfitBarAnimationChartData,private service: DataService) {
    this.profitBarAnimationChartService.getChartData()
      .pipe(takeWhile(() => this.alive))
      .subscribe((linesData) => {
        this.linesData = linesData;
      });
  }
  multi:any[]
  ngOnInit(){
    this.retrieveDataOfVacancyChart();

  }

  retrieveDataOfVacancyChart(){
    this.service.getVacancyChartData()
    .then(
      response => {
         console.log(response);
          this.multi=response.data;
      }
    )

  }

 

  

  

  lineChartView: any[] = [550, 400];

  // options
  lineChartShowXAxis = true;
  lineChartShowYAxis = true;
  lineChartGradient = false;
  lineChartShowLegend = false;
  lineChartShowXAxisLabel = false;
  lineChartXAxisLabel = 'Week';
  lineChartShowYAxisLabel = true;
  lineChartYAxisLabel = 'Project';
  
  lineChartColorScheme = {
      domain: ['#1CBCD8', '#FF8D60', '#FF586B', '#AAAAAA']
  };
  
  // line, area
  lineChartAutoScale = true;


  multi1 = [
   
  
    {
      "name": "April",
      "series": [
        {
          "name": "Vacancy",
          "value": 78
        },
        {
          "name": "Application",
          "value": 120
        },
        {
          "name": "Selected",
          "value": 30
        }
      ]
    },
  
    {
      "name": "May",
      "series": [
        {
          "name": "Vacancy",
          "value": 50
        },
        {
          "name": "Application",
          "value": 100
        },
        {
          "name": "Selected",
          "value": 20
        }
      ]
    },

    {
      "name": "June",
      "series": [
        {
          "name": "Vacancy",
          "value": 55
        },
        {
          "name": "Application",
          "value": 100
        },
        {
          "name": "Selected",
          "value": 20
        }
      ]
    },

    {
      "name": "July",
      "series": [
        {
          "name": "Vacancy",
          "value": 50
        },
        {
          "name": "Application",
          "value": 100
        },
        {
          "name": "Selected",
          "value": 20
        }
      ]
    },

    {
      "name": "August",
      "series": [
        {
          "name": "Vacancy",
          "value": 50
        },
        {
          "name": "Application",
          "value": 100
        },
        {
          "name": "Selected",
          "value": 20
        }
      ]
    }
  ]

-->
<!-- [autoScale]="lineChartAutoScale" -->