<h2 id="title" class="title">Login</h2>
<p class="sub-title">Welcome to GSHiring..! </p>
<!-- <p class="sub-title"><img src="../../assets/images/hiring001.png" style=" height: 60px;" alt=""></p> -->

<nb-card status="primary"
[nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary"
style="    border: none;"
>
  <!-- <nb-card-header style="text-align: center; "><h2  style="color: white;">Login Here</h2></nb-card-header> -->
  <nb-card-body>
    <div class="form-control-group">
      <div>
        <img
          id="profile-img"
          src="../../favicon.png"
          class="profile-img-card"
        />

        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
        <div class="form-group">
          <div class="alert alert-danger"  *ngIf="f.submitted && isLoginFailed" >
            <p class="alert-title"><b>Oh snap!</b></p>
            Login/Email combination is not correct, please try again.
          </div>
        </div>
          <div class="form-control-group">
            <label for="username" class="label" style="font-size: medium;">
              Email 
            </label>  
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              #username="ngModel"
              email
              nbInput  fullWidth
              placeholder="Email"
             fieldSize="large"
             pattern ="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             [class.is-invalid]="username.invalid && username.touched" 
             [status]="username.dirty ? (username.invalid  ? 'danger' : 'primary') : ''"
           [attr.aria-invalid]="username.invalid && username.touched ? true : null"
             required
            />
              
            <div *ngIf=" username.invalid && (username.dirty || username.touched)"
            style="height: 30px; padding-top: 3px; padding-left: 5px; margin-top: 3px; color: red;" >
        
            <span class="text-danger" *ngIf="username.errors.required">Email is required</span>
            <span class="text-danger" *ngIf="username.errors.pattern">Enter a valid email format-"xxx@example.com"</span>
            </div>
          </div>
          <div class="form-control-group">
            <label for="password" style="font-size: medium;" class="label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              nbInput  fullWidth
              placeholder="Password"
             fieldSize="large"
             [status]="password.dirty ? (password.invalid  ? 'danger' : 'primary') : ''"
             [class.is-invalid]="password.invalid && password.touched" 
             [attr.aria-invalid]="password.invalid && password.touched ? true : null">  
            <div *ngIf=" password.invalid && (password.dirty || password.touched)"
           style="height: 30px; padding-top: 3px; padding-left: 5px; margin-top: 3px; color: red;" >
        
            <span class="text-danger" *ngIf="password.errors.required">Password is required</span>
            <span class="text-danger" *ngIf="password.errors.minlength">Minimun length for password is 6</span>
            </div>
          </div>
            <button  nbButton
            fullWidth
            status="primary"
            size="large"
            [disabled]="password.invalid || username.invalid"
            [class.btn-pulse]="submitted">
              Login
            </button>
            <!-- <div class="row" style="padding-top: 25px;">
              <div class="col-md-6">
              
                
              </div>
        
            </div> -->
            
            <section class="another-action" aria-label="Register">
              Don't have an account? <a href="/auth/register"  routerLink="/auth/register">SignUp</a>
            </section>
            <div class="divider">
              <hr class="left"/>OR<hr class="right" />
          </div>
            <div class="row" style="padding-top: 30px; padding-left: 45%; ">

            <div class="col-md-6">
             <a href="#"  status="primary" routerLink="/oauth2"><img style="text-align: center; width: 50px;" src="../../assets/images/google-icon.svg" alt=""></a>
            </div>
          </div>

        </form>
       
        <!-- <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
          <li class="">
            <a href  (click)="logout()">LogOut</a>
          </li>
        </div> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>



