 
<nb-card-header >
  <span class="title">Experience</span>
<label for="select Technology" class="label"></label>
<nb-select placeholder="Select Technology" [(selected)]="selectedItem">
    <nb-option *ngFor="let d of subtechnology" (click)="onSelectTechnology()" value="{{d.subTechnologyName}}">{{d.subTechnologyName}}</nb-option>
  </nb-select> 
</nb-card-header>


<nb-card-header>
  
        <canvas baseChart height="170"
      [chartType]="'doughnut'"
      [datasets]="pieChartData"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [legend]="true"
      [colors]="pieChartColor">
      </canvas>
  
  </nb-card-header>
