<nb-card status="primary" >
    <nb-card-header >Assign Role</nb-card-header>
    <nb-card-body class="checkbox-radio">
      <form  (ngSubmit)="onSelectRole()">
        <div class="demo-items">
            <nb-radio-group [(value)]="radioGroupValue">
              <nb-radio *ngFor="let r of roleList" value = "{{r.id}}"  checked="{{r.id}}.checked">  
                {{r.name}} 
              </nb-radio>
            </nb-radio-group>
            <br>
            <button type="submit" nbButton status="danger">Set Role</button>
          </div>
      </form>
    </nb-card-body >
  </nb-card>