
<nb-card status="primary">
    <nb-card-header>
        <span>Upload Multiple Resume</span>
    </nb-card-header>
  <nb-card-body>
      <div class="row">      
      <div class="col-md-4"> <br>
        <label for="" class="label">Select Vacancy</label> <br>    
        <nb-select [(selected)]="vacancyId" placeholder="select job title" >
          <nb-option *ngFor="let v of vacancy" [value]="v.vacancyId">{{ v.jobTitle }}</nb-option>
          <nb-option  value="0">All</nb-option>
        </nb-select>
      </div>
      
        <div class="col-md-4">    <br><br>
        <label for="" class="label">Add multiple resume</label> <br>
        <input type="file" name="resume" (change)="onFileSelect($event.target.files)" >
      </div>
      </div>

      <br><br>

      <div class="smart-table-container">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </div>
      <br><br>
     
      <div class="row action-btn"> 
        &nbsp; &nbsp;
        <button type="button" nbButton status="danger" (click)="submitFile()" >Submit All Resume</button>
      </div>

    </nb-card-body>
  </nb-card>