<nb-card status="primary">
  <nb-card-header>
    <span>Upload Multiple Resume</span>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-2">
        <nb-select [(selected)]="selectedProject" placeholder="Select Project">
          <nb-option *ngFor="let p of allProjects" (click)="onSelectProject()" [value]="p.name">{{ p.name }}</nb-option>
        </nb-select>
      </div>
      <div class="col-md-2">
        <nb-select *ngIf='isProjectSelected' [(selected)]="selectedPosition" placeholder="Select Position">
          <nb-option *ngFor="let p of allPositions" (click)="onSelectPosition()" [value]="p.name">{{ p.name }}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <br><br>
    <div class="col-md-2">
      <label for="" class="label">Add multiple resume</label> 
      <input type="file" name="resume" (change)="onFileSelect($event.target.files)">
    </div>
    <br><br>

    <div class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </div>
    <br><br>

    <div class="row action-btn">
      &nbsp; &nbsp;
      <button type="button" nbButton status="danger" (click)="submitFile()">Submit All Resume</button>
    </div>

  </nb-card-body>
</nb-card>