

  <nb-card>
    <nb-card-header> Today Activity
      <span style="float: right;">
        <nb-select  [(selected)]="selectedItemNgModel" status="primary">
          <nb-option value="1"  (click)="acccptedStatus()">Available &nbsp;&nbsp;</nb-option>
          <nb-option value="2" (click)="notAcceptedStatus()" >Not-Available</nb-option>
         
        </nb-select>


   
  </span> 
  </nb-card-header>
    <nb-card-body>
    <nb-accordion *ngIf="selectedItemNgModel=='1'">
      
      <nb-accordion-item *ngFor="let list of users" [expanded]="list.expanded"  nbInfiniteList>
        
        <nb-accordion-item-header (click)="availableClick(list.id)">
          <span><nb-action  style="    display: flex;
            ">
           
              <nb-user [name]="list.name" [title]="list.title" >
              
                
              </nb-user>
              <button nbButton status="success" style="       float: right;
              position: absolute;
              margin-left: 500px;
               
            " *ngIf="status==1">Available</button> 
            <span>&nbsp;</span>
           
          
        </nb-action></span>  
          </nb-accordion-item-header>           

          <nb-accordion-item-body >
          
            <!-- <mat-horizontal-stepper   #stepper linear=false labelPosition="bottom">
              <ng-template matStepperIcon="edit">
                <mat-icon>done</mat-icon>
              </ng-template>
              <mat-step *ngFor="let list of lvl" >
                <br>
                <ng-template matStepLabel>{{list}}</ng-template>
                
              </mat-step>
             
              
              <div>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
              </div>
            </mat-horizontal-stepper>   -->
        
  
            <nb-stepper [selected]="level" orientation="horizontal" [nbSpinner]="true" nbSpinnerSize="large" nbSpinnerStatus="primary" disableStepNavigation   #stepper>

              <nb-step  [label]="list" *ngFor="let list of lvl ;let i=index;">
                <ng-template  >{{list}}</ng-template>

            

              </nb-step>

            </nb-stepper>
            <button nbButton (click)="goForward()" #btn>next</button>

            <div class="card">
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>
                         <a href="{{meetLink}}" target="_blank" nbButton status="primary" >Start Interview</a>
                      </th>
                      <th>
                        <button nbButton status="primary" >Evaluation </button>
                     </th>
                     <th>
                      <button nbButton status="primary" >View CV</button>
                   </th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>
          </nb-accordion-item-body>
      </nb-accordion-item>
  </nb-accordion>
  <nb-accordion *ngIf="selectedItemNgModel=='2'">
      
    <nb-accordion-item *ngFor="let list of notAceeppted" [expanded]="list.expanded"  nbInfiniteList>
      <nb-accordion-item-header (click)="not_availableClick(list.id)">
        <span><nb-action  style="    display: flex;
          ">
         
            <nb-user [name]="list.name" [title]="list.title" >
            
              
            </nb-user>
            <button nbButton status="danger" style="       float: right;
            position: absolute;
            margin-left: 500px;

             
          " *ngIf="status==1">Not-Available</button> 
          <span>&nbsp;</span>
         
        
      </nb-action></span>  
        </nb-accordion-item-header>          
        <nb-accordion-item-body >
          <nb-stepper selected="'HR'"  orientation="horizontal" [nbSpinner]="true" nbSpinnerSize="large" nbSpinnerStatus="primary" disableStepNavigation   #stepper>
            
            <!-- <nb-step  label="{{list}}" *ngFor="let list of lvl">
              <ng-template #HR>{{list}}</ng-template>
              
            </nb-step> -->
            <nb-step  label="Technical 1" #Technical>
              <ng-template >Technical</ng-template>
              
            </nb-step>
            <nb-step  label="HR" #HR>
              <ng-template >HR</ng-template>
              
            </nb-step>
          </nb-stepper>
          
          <div class="card">
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>
                      <button nbButton status="primary" ghost>
                        Candidate Status
                    </button></th>
                    <th> <button nbButton status="primary" ghost>
                      Panal Status
                  </button></th>
                    <th><button nbButton status="primary" ghost>
                      Action
                  </button></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td scope="row"><button nbButton status="success" *ngIf="candidatRespose=='accepted'" >{{candidatRespose}}</button>
                      <button nbButton status="warning" *ngIf="candidatRespose!='accepted'" >{{candidatRespose}}</button></td>
                    <td><button nbButton status="success" *ngIf="panalResponse=='accepted'" >{{panalResponse}}</button>
                      <button nbButton status="warning" *ngIf="panalResponse!='accepted'" >{{panalResponse}}</button></td>
                    <td><button nbButton status="primary" > Reschedule Interview </button></td>
                  </tr>
                
                </tbody>
              </table>
            </div>
          </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
    </nb-card-body>
  </nb-card>
  

<!-- <div class="row" *ngIf="currentRole=='ROLE_ADMIN'"> -->
  <div class="row" >

  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<!-- <div class="row" *ngIf="currentRole=='ROLE_PANEL'"> -->
  <div class="row" >

  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>
<!-- <div class="row" *ngIf="currentRole=='ROLE_HR'"> -->

<div class="row" >
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
