
  <nb-card>
    <nb-card-header>Today Activity{{selectedItemNgModel}}
      <span style="float: right;">
        <nb-select  [(selected)]="selectedItemNgModel">
          <nb-option value="1"  (click)="acccptedStatus()">Aceepted &nbsp;&nbsp;</nb-option>
          <nb-option value="2" (click)="notAcceptedStatus()" >Not Accepted</nb-option>
         
        </nb-select>


   
  </span> 
  </nb-card-header>
    <nb-card-body>
    <nb-accordion *ngIf="selectedItemNgModel=='1'">
      
      <nb-accordion-item *ngFor="let list of users" [expanded]="list.expanded"  nbInfiniteList>
          <nb-accordion-item-header>
              <nb-user [name]="list.name" [title]="list.title" >
              

              </nb-user>
              <button nbButton status="success" style="
              float: left;
              margin-left: 50px;
          " *ngIf="status==1">Accepted</button> 
          
          </nb-accordion-item-header>
          <nb-accordion-item-body >
            <nb-stepper orientation="horizontal" [nbSpinner]="true" nbSpinnerSize="large" nbSpinnerStatus="primary" >
              
              <nb-step [label]="list" *ngFor="let list of lvl" >
                <ng-template #list>{{list}}</ng-template>
                
              </nb-step>
            </nb-stepper>
          </nb-accordion-item-body>
      </nb-accordion-item>
  </nb-accordion>
  <nb-accordion *ngIf="selectedItemNgModel=='2'">
      
    <nb-accordion-item *ngFor="let list of notAceeppted" [expanded]="list.expanded"  nbInfiniteList>
        <nb-accordion-item-header>
            <nb-user [name]="list.name" [title]="list.title" >
            

            </nb-user>
           
         <button nbButton status="danger" style="
            float: left;
            margin-left: 50px;
        " >Not Accepted</button> 
        </nb-accordion-item-header>
        <nb-accordion-item-body >
          <nb-stepper orientation="horizontal" >
            
            <nb-step [label]="list" *ngFor="let list of lvl">
              <ng-template #list>{{list}}</ng-template>
              
            </nb-step>
          </nb-stepper>
          <nb-tabset>
            <nb-tab tabTitle="Simple Tab #1">
              <span> Candidate Status</span> 
            </nb-tab>
            <nb-tab tabTitle="Simple Tab #2">
              <span>panal Status</span> 
            </nb-tab>
            <nb-tab tabTitle="Simple Tab #3">
              <span> Action</span>
            </nb-tab>
          </nb-tabset>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
    </nb-card-body>
  </nb-card>
  

<!-- <div class="row" *ngIf="currentRole=='ROLE_ADMIN'"> -->
  <div class="row" >

  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<!-- <div class="row" *ngIf="currentRole=='ROLE_PANEL'"> -->
  <div class="row" >

  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>
<!-- <div class="row" *ngIf="currentRole=='ROLE_HR'"> -->

<div class="row" >
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
