<div  *ngIf="!checkIfInterviewIsScheduled()">
  <nb-card status="primary">
   <nb-card-header>Schedule Interview</nb-card-header>
   <nb-card-body>
     <h6>Select Interview Level</h6>
     <label for="Select Level" class="label">Select Level</label>
     <nb-select placeholder="Select Level" fullWidth [(selected)]="selectedLevel"  >
      <nb-option *ngFor="let l of level" (click)="onSelectLevel()" value="{{l}}">{{l}}</nb-option>
    </nb-select> 
    <div *ngIf="selectedLevel != null">
      <br>  <br>
     <h6>Schedule {{selectedLevel}}</h6>
      <form  #myForm="ngForm" (ngSubmit)="scheduleInterview(myForm)" role="form">
        <div class="row">
          <div class="col-md-6"> 
            <label class="label">Select Panel</label>
            <nb-select placeholder="Select Panel" fullWidth ngModel name="panel" [(selected)]="selectedPanel">
              <nb-option *ngFor="let d of panel" value="{{d.username}}">{{d.name}}</nb-option>
            </nb-select>
          </div>
          <div class="col-md-6"> 
            <label class="label">Select Mode of Interview</label>
            <nb-select placeholder="Select Mode of Interview" fullWidth ngModel name="mode" [(selected)]="selectedMode">
              <!-- <nb-option value="Cv processing">Face to Face</nb-option> -->
              <nb-option value="Smgr">Google Meet</nb-option>
              <!-- <nb-option value="Address Book">Zoom</nb-option> -->
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label">Scheduled On</label>
            <input nbInput fullWidth
            name="scheduledOn"
            ngModel
            placeholder="Scheduled On"
            [nbDatepicker]="formpicker">
            <nb-datepicker #formpicker></nb-datepicker> 
          </div>
          <div class="col-md-6">
            <label class="label">Time</label>
              <input type="time" name="time" ngModel nbInput fullWidth placeholder="Time" > 
             <!-- <ngb-timepicker [(ngModel)]="time" [seconds]="seconds"></ngb-timepicker>
              <button class="btn btn-sm btn-outline-{{seconds ? 'success' : 'danger'}}" (click)="toggleSeconds()">
                  Seconds - {{seconds ? "ON" : "OFF"}}
              </button>
              <hr>
              <pre>Selected time: {{time | json}}</pre> -->
           </div>
        </div>
        <div class="col-md-12">
          <div class="row action-btn">
            <button nbButton status="danger"> Schedule Interview</button>
          </div>
        </div>
      </form>
    </div>
   </nb-card-body>
  </nb-card>
</div>

<div *ngIf="checkIfInterviewIsScheduled()" style="background-color: white;">
  <nb-card status="primary">
    <nb-card-header>Interview Result</nb-card-header>
  </nb-card>
  <nb-card-body>
    <h6> &nbsp;&nbsp;&nbsp;&nbsp; {{heading}}  &nbsp;&nbsp;&nbsp;&nbsp;</h6>
  </nb-card-body>
</div>
