<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <nb-card-header>
    <span>Project Vacancy</span>
    <nb-select placeholder="Select Project"  [selected]="selectedProject" [(selected)]="selectedProject" (selectedChange)="changeProject($event)">
      <nb-option *ngFor="let p of projects" [value]="p.name">{{p.name}}</nb-option>
    </nb-select>
  </nb-card-header>

<nb-card-body>
  <table class="table table-striped  table-responsive table-hover table-borderless">
    <thead>
      <tr>
        <th style="text-align: center;">Position</th>
        <th style="text-align: center;">Applications</th>
        <th *ngFor="let l of level" style="text-align: center;">{{l.description}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vacancyDetails">
        <th scope="row" style="text-align: center;">{{item.position}}</th>
        <td style="text-align: center;">{{item.applications}}</td>
        <td style="text-align: center;">{{item.aptitude}}</td>
        <td style="text-align: center;">{{item.hr}}</td>
        <td style="text-align: center;">{{item.telephonic}}</td>
        <td style="text-align: center;">{{item.technical_1}}</td>
        <td style="text-align: center;">{{item.technical_2}}</td>
        <td style="text-align: center;">{{item.manager}}</td>
        <td style="text-align: center;">{{item.skype}}</td>
        <td style="text-align: center;">{{item.technical_3}}</td>
      </tr>
    </tbody>
  </table>
</nb-card-body>


<!-- Sahdev Code -->
<!-- <nb-list>
<nb-list-item class="item">
  <span>ProjectName</span>
  <span>Vacancy</span>
  <span>Application</span>
  <span>Level1</span>
  <span>Level2</span>
  <span>Level3</span>
  <span>Offered</span>
</nb-list-item>
<nb-list-item class="item" *ngFor="let item of projectDetail">
<span>{{item.name}}</span>
<span>{{item.noOfVacancy}}</span>
<span>{{item.totalApplication}}</span>
<span>{{item.selectedLevel1}}</span>
<span>{{item.selectedLevel1}}</span>
<span>{{item.selectedLevel1}}</span>
<span>{{item.offered}}</span> -->

<!-- </nb-list-item> -->
<!--</nb-list-item>
  <nb-list-item class="item" *ngFor="let item of frontCardData; trackBy: trackByDate">
    <span>{{ item.date }}</span>
    <span>{{ item.value }}</span>
    <span class="delta" [class.up]="item.delta.up" [class.down]="!item.delta.up">
      <nb-icon [icon]="item.delta.up ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
      {{ item.delta.value }}%
    </span>
    <ngx-traffic-bar [barData]="item.comparison" [successDelta]="item.delta.up">
    </ngx-traffic-bar>
  </nb-list-item>-->
<!-- </nb-list> -->
