<nb-list>
<nb-list-item class="item">
  <span>ProjectName</span>
  <span>Vacancy</span>
  <span>Application</span>
  <span>Level1</span>
  <span>Level2</span>
  <span>Level3</span>
  <span>Offered</span>
</nb-list-item>
<nb-list-item class="item" *ngFor="let item of projectDetail">
<span>{{item.name}}</span>
<span>{{item.noOfVacancy}}</span>
<span>{{item.totalApplication}}</span>
<span>{{item.selectedLevel1}}</span>
<span>{{item.selectedLevel1}}</span>
<span>{{item.selectedLevel1}}</span>
<span>{{item.offered}}</span>

</nb-list-item>
<!--</nb-list-item>
  <nb-list-item class="item" *ngFor="let item of frontCardData; trackBy: trackByDate">
    <span>{{ item.date }}</span>
    <span>{{ item.value }}</span>
    <span class="delta" [class.up]="item.delta.up" [class.down]="!item.delta.up">
      <nb-icon [icon]="item.delta.up ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
      {{ item.delta.value }}%
    </span>
    <ngx-traffic-bar [barData]="item.comparison" [successDelta]="item.delta.up">
    </ngx-traffic-bar>
  </nb-list-item>-->
</nb-list>
