<nb-card status="success">
<nb-card-header>
    <span>Candidate List</span>
</nb-card-header>
  </nb-card>

    <nb-select [(selected)]="type" placeholder="select job title" >
      <nb-option *ngFor="let v of vacancy" (click)="onSelectVacancy()" [value]="v.vacancyId">{{ v.jobTitle }}</nb-option>
    </nb-select>
  <br>

  
  <nb-card-body>
    <div style = "overflow-y: scroll;">
      <div class="smart-table-container" style = "width: 125%;">
    <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onUpdateRecord($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </div>
</div>
  </nb-card-body>
<!-- <div style="color: crimson;">hii</div> -->
