<nb-card status="primary">
<nb-card-header>
    <span>Candidates</span>
</nb-card-header>
<nb-card-body>
  <nb-select [(selected)]="selectedProject" placeholder="Select Project" >
    <nb-option *ngFor="let p of allProjects" (click)="onSelectProject()" [value]="p.name">{{ p.name }}</nb-option>
  </nb-select>
  &nbsp;&nbsp;
  <nb-select *ngIf='isProjectSelected' [(selected)]="selectedPosition" placeholder="Select Position" >
    <nb-option *ngFor="let p of allPositions" (click)="onSelectPosition()" [value]="p.name">{{ p.name }}</nb-option>
  </nb-select>
  <br><br>
<div>
  <div class="smart-table-container" style = "width: 200%;">
    <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onUpdateRecord($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </div>
</div>
</nb-card-body>
</nb-card>
    
<!-- <div style="color: crimson;">hii</div> -->
