<h1 id="title" class="title">Sign Up</h1>
<p class="sub-title">Hello! Sign Up here with your email.</p>
<!-- <nb-card status="success">
  <nb-card-header>Signup Here</nb-card-header>
  <nb-card-body> -->
    <div class="col-md-12">
        <img
          id="profile-img"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          class="profile-img-card"
        />
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="name" class="label">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="form.name"
              required
              #username="ngModel"
              nbInput  fullWidth
            />
            <div  style="height: 30px; padding-top: 3px; padding-left: 5px; margin-top: 3px; color: red;"  *ngIf="username.touched && username.invalid">
              <div *ngIf="username.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email"  class="label">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.username"
              required
              email
              #email="ngModel"
              nbInput  fullWidth
            />
            <div style="height: 30px; padding-top: 3px; padding-left: 5px; margin-top: 3px; color: red;"  *ngIf="email.invalid && email.touched">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password"  class="label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              nbInput  fullWidth
            />
            <div  style="height: 30px; padding-top: 3px; padding-left: 5px; margin-top: 3px; color: red;" *ngIf="password.invalid && password.touched">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Minimun length for password is 6
              </div>
            </div>
          </div>
          <div class="form-group">
            <button nbButton fullWidth
            status="primary"
            size="large"
            [class.btn-pulse]="submitted"
          >Sign Up</button>
          </div>
    
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
    
        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
    </div>
<!-- </nb-card-body>
</nb-card> -->

  